/*Projet description*/

.description_projet {
  width: 60%; /*Permet d ecrire le texte en bloc ou ligne*/
  margin-bottom: 20px; /*espace en bas du paragraphe*/
}

.description_projet h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.description_projet p {
  line-height: 1.5; /*Permet d espacer les lignes*/
  color:#585454;
  font-weight: 1.5em;
}




/*Projets*/
    /*ca met le texte à droite*/

    .projet-cards {
      display: flex;
      justify-content: center;
      gap: 80px;
      flex-wrap: wrap;
       /*margin-bottom: 250px;*/
      /*height: 100%;*/
      position:relative;
    }

    .projet-cards-vid {
      display: flex;
      justify-content: left;
      gap: 0px;
      flex-wrap: wrap;
      margin-bottom: 100px; /* 250px;  */
      margin-left:50px;
      /*height: 100%;*/
      position:relative;

    }

    iframe{
      border-radius: 20px;
    }
      /* description projet img et para*/
      /* ca met le titre au dessue*/

    #vid_facebook{
      margin-bottom:70px;
    }

      .titre{
        margin-top: 30px;
        font-size:1.5em;
        color: #2b2c8d;
        margin-bottom: 20px;
        margin-left: 70px;
      }

        .container {
            max-width: 1200px; /* 1200px; */
            margin: 0 auto;
            padding: 20px;
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -90px; 
          }
          .container:after {
              content: "";
              display: block;
            }

            .container_format_vid {
              max-width: 1200px; /* 1200px; */
              margin: 0 auto;
              /* equal to footer height */
              margin-bottom: -90px; 
              }
              
  .carousel {
      margin-bottom: 5%;
      height: 25vw; /* 30vw; */
      /*pas toucher*/
      width: calc(5% + 20%);
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      /*margin: 0 auto;*/
      /*margin-left: 5%;*/
  }

  .image_format_caroussel {
    margin-bottom: 5%;
    height: 30vw; /* 30vw; */
    /*pas toucher*/
    width: calc(5% + 20%);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    /*margin-left: 5%;*/
}

.vid_format {
  margin-bottom: 5%; /* 5%; */ 
  height: 21vw; /* 30vw; */ /*j'ai reduit pour enlever l espace entre la vid et le txt*/
  /*pas toucher*/
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  /*margin: 0 auto;*/
  /*margin-left: 5%;*/
}

.img_cont img{
  border-radius: 20px;

}


.illust {
    height: 350px;
}

.img_cont_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    border-radius: 10px;
     /*
     border: 1px solid #ddd;
    box-shadow: 10px 9px #DBDBD4;  */
}

.img_cont {
    width: 492%;
    /*et ici*/
    display: flex;
    position: absolute;
    
}

.img_cont img {
    margin-top: 0px; /* 50px; c la marge en haut */ 
    width: 20.33%; /* taille img*/
    height: 5%;
    object-fit: cover;
    
}

.arrow {
    width: 20px; /* 40x; c la marge en haut */ 
    font-size: 3rem;
    color:#747272;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; /* 0.6; */ 
    padding: 0% 0%;  /* c pour enlever les bords */
    
}