
.titre_INFO{
  font-size:1.5em;
  text-align: left;
  color: #2b2c8d;
  margin-bottom:195px;
  padding-top:200px;
  margin-left:600px;
}















body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Inter", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    a{
      text-decoration: none;
    }

    
    /*Barre de navigation*/

    .navbar {
      background-color: #34529E;
      color: white;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #nom_site{
      font-family: "SugarPie";
      font-weight: 400;
      font-style: normal;
      font-size:1.5em;
      padding-left: 20px;
      color:#8BA5E8;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      padding-right: 20px;
    }
    .navbar a{
      color:#ffffff;
    }
    .nav-links a {
      color: white;
      text-decoration: none;
    }






    .dropmenu {
      color: rgb(255, 255, 255);
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #8BA5E8;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #657ff1;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover #nom_site {color:#ffffff;}






  /*Accueil stage et sections*/
  
        /* Accueil */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonnes égales */
  min-height: 70vh; /* toute la hauteur de la fenêtre */
}

/* Présentation à gauche */

@font-face { /* pour utiliser le fichier d une police */
    font-family : SugarPie;
    src: url(media/fontes/SugarPie.ttf);
}

@font-face { /* pour utiliser le fichier d une police */
    font-family : ThephirLight;
    src: url(media/fontes/ThephirLight.ttf);
}


.presentation {
  display: flex;
  width: 100%;
  max-width: none; /* enlève la limite */
  height: 350px;     /* fixe une hauteur */
  margin: 40px 0;
  overflow: hidden;
  border-radius: 10px;
}

.balsamiq-sans-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.colonne-gauche {
   font-family: "Balsamiq Sans", sans-serif;
  margin-top:50px;
  margin-left:50px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  padding: 10px;
}


/* Colonne droite */
.colonne-droite {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  padding: 40px;
  margin-top:50px;
}

.texte {
  background: #496ccf;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px; /* moins de padding vertical */

}

.texte h4 {
  margin: 0 0 15px;
  font-size: 1rem;
}

.texte p {
  margin: 0 0 15px;/* Ca rend le txt de la page petit */
  line-height: 1.6;/* C l interligne */
}

.image {
  flex: 0 0 45%;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
}

.image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

            /* Compétences */
.competences {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
}

.competence {
  max-width: 200px;
}

.icone {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #8da9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  font-weight: bold;
}

          /* Bouton Voir les projets */
.cta {
  text-align: center;
}

.cta a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #496ccf;
  text-decoration: none;
  font-family:"Brush Script MT", cursive;
}

.cta .fleche {
  font-size: 2rem;
  margin-top: 10px;
  color: #f29d8d;
}


/*stage*/


.section_stage {
      display: grid;
      grid-template-columns: 0.7fr 0.5fr; /* deux colonnes de largeur égale */
      gap: 0px; /* espace entre les colonnes */
      margin-left: 330px;
      margin-right: 330px;
      margin-bottom : 70px;
      margin-top: 110px;

    }

    .col {
      /*margin:50px;*/
      padding: 15px; 
      /*background-color: #f4f4f4;*/   /*couleur du container*/
      border-radius: 8px;

    }

    .col p{
      font-family: "Balsamiq Sans", sans-serif;
      font-size:15px;
      color:#554e4e;
      line-height:22px;
    }

    .col h3{
  font-family: "ThephirLight";
  color:#0a3399;
    }

    .col img{
      width: 100%;
      height: 35%;
      object-fit:cover;
    }

    #localisation{
      font-family: "Inter", serif;
      font-weight: bold;
    }

    #gros_titre{
    font-size:45px;
    font-family: Sugarpie;
    color:#577ad0;
    letter-spacing : 2px;
    }






    /*Projets*/


/*
.projets {
      padding: 20px;
      text-align: left;
      margin-bottom:0px;
    }
*/
    #titre_section{
      padding-left:250px;
      color:#12088F;
      margin:50px;
    }
  

    .projet-cards {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin:0px;
    }


    .card_cachees {
      padding: 20px;
      width: 200px;
      border-radius: 10px;
      margin-right:20px;
      margin-bottom: 0px;
    }

    .card {
      border: 1px solid #ddd;
      padding: 20px;
      width: 200px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      color:#585454;
      margin-right:20px;
      box-shadow: 10px 9px #DBDBD4; /*rombre côté gauche -20px 16px */
      margin-bottom: 0px;
    }
  
    .card:hover{
      background-color: rgb(245, 245, 254);
    }
    .card a{
      color: #585454;
    }

    .card p{
      color: #3B83EE;
    }

    .card img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    #miniature_petite{
      height:230px;
    }


    #miniature_moyenne{
      height:280px;
    }

    #miniature_normal{
      height:340px;
    }

    #miniature_large{
      height:370px;
    }

    #miniature_grande{
      height:380px;
    }

    #miniature_gigantesque{
      height:410px;
    }

    #miniature_max{
      height:440px;
    }
    /*footer*/
    

   .contact img { 
    margin-top:10px;
    border: none; 
    width:50px;
    height:50px;

  }

    #logos{margin-right:20px;}



      footer {
        background-color: #90A4E8;
        color: black;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      .left-section {
        display: flex;
        align-items: center;
      }
      .left-section img {
        height: 40px;
        margin-right: 10px;
      }
      .footer_links {
        display: flex;
        gap: 20px;
      }

      .footer_links a{
        color:black;
      }

      .contact {
        position:absolute;
        margin-left:0px;
      }
      .contact input{
        background-color:#90A4E8;
        border-color: #90A4E8;
        box-shadow:none;
        border:0 none; /* ca enlève l'ombre interieure du input*/
        outline:0;
        color:#90A4E8;
      }
      .contact a {
        color: black;
        text-decoration: none;
      }
      .contact a:hover {
        text-decoration: underline;
      }

/*caroussel*/


.carousel {
    margin-bottom: 5%;
    height: 25vw; /* 30vw; */
    /*pas toucher*/
    width: calc(5% + 20%);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    /*margin-left: 5%;*/
}


.illust {
  height: 350px;
}

.img_cont_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  border-radius: 10px;
   /*
   border: 1px solid #ddd;
  box-shadow: 10px 9px #DBDBD4;  */
}

.img_cont {
  width: 492%;
  /*et ici*/
  display: flex;
  position: absolute;
  
}

.img_cont img {
  margin-top: 0px; /* 50px; c la marge en haut */ 
  width: 20.33%; /* taille img*/
  height: 5%;
  object-fit: cover;
  
}

.arrow {
  width: 20px; /* 40x; c la marge en haut */ 
  font-size: 3rem;
  color:#747272;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* 0.6; */ 
  padding: 0% 0%;  /* c pour enlever les bords */
  
}

.projet-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    height: 100%;
    position:relative;
  }

  #page_filtre_vid{ /* pour refixer le footer en bas */
    height:350px;
  }

/*A propos*/

.presentation{
  width:500px;
  height:500ox;
}

/*responsive à faire*/
